body {
    color: #40514E;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    }
    
    h1 {
        margin: 0px auto 0px auto;
        margin-bottom: 0px;
        line-height: 4;
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
        color: #66BFBF;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        color: #66BFBF;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #11999E;
    }
    
    p {
        line-height: 2;
    }
    
    a{
        color: #11999E;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
    }
    a:hover{
        color: #66BFBF;
    }
    
    .OtherPages{
        color: #11999E;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;
    }
    .OtherPages:hover{
        color: #EAF6F6;
    }
    
    
    /* ----------Containers---------- */
    .TopContainerParent {
        background-color: #bcf0f7;
        
    }
    .TopContainer {
        margin: 0 auto;
        padding-top: 70px;
        position: relative;
        max-width: 630px;
    }
    
    .MiddleContainer {
        margin: 100px 0px 30px;
    } 
    
    .BottomContainer {
        background-color: #66BFBF;
        padding: 50px 0px 20px;
    } 
    
    .SkillRow {
        width: 50%;
        margin: 100px auto 200px auto;
        text-align: left;
    }
    
    .intro {
        width: 45%;
        margin: auto;
    }
    
    .ContactMessage {
        width: 50%;
        margin: 40px auto 60px;
    }
    
    .copyright{
        color: #EAF6F6;
        font-size: 0.75rem;
        padding: 40px 0px 0px;
    }
    
    /* ----------IMAGES---------- */
    .top-cloud {
        position:absolute;
        right: 0px;
        top: 40px;
    }
    .MountainImage {
        position: relative;
        top: 4px;
    }
    .bottom-cloud {
        position: absolute;
        left: 0px;
        bottom: 250;
    }
    .ProblemSolvingImage {
        width: 25%;
        height: 25%;
        float: left;
        margin-right: 30px;
    }
    .CreativityImage {
        width: 25%;
        height: 25%;
        float: right;
        margin-left: 30px;
    }
    
    